body {
  background-color: dodgerblue;
}

.box {
  background-color: lightyellow;
  margin-left: 150px;
  margin-right: 150px;
}

.Employee {
  margin-top: 50px;
  margin-left: 150px;
}

.Priority {
  margin-left: 150px;
}

.Location {
  margin-left: 150px;
}

.Languages {
  margin-left: 150px;
}

.Time {
  margin-left: 150px;
}

.SpecificTime {
  margin-left: 150px;
}

.Repeat {
  margin-left: 150px;
}

.Status {
  margin-left: 150px;
}

.Submit {
  margin-left: 150px;
}
